<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/panteraxxx.png" class="pantera-banner" alt="Pantera" />
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
    </ion-buttons>
    <ion-title><ion-icon name="bus-outline"></ion-icon>panteraXpress<ion-icon name="bus-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center expand-card botones-login">
    <mat-button-toggle-group [(ngModel)]="toggleSeleccion" name="toggleSeleccion">
      <mat-button-toggle value="login" (click)="irALogin()">Ingresar</mat-button-toggle>
      <mat-button-toggle value="register">Registrarse</mat-button-toggle>
    </mat-button-toggle-group>

    <br>

    <mat-card class="login-card">
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="usuario.nombre" name="nombre" required autocomplete="given-name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="usuario.apellido" name="apellido" required autocomplete="family-name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>RUT</mat-label>
        <input matInput [(ngModel)]="usuario.rut" name="rut" required placeholder="Ej: 12345678-9" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="usuario.email" name="email" required autocomplete="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="usuario.contrasena1" name="password1" required placeholder="Solo cuatro números"
          type="password">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [(ngModel)]="usuario.contrasena2" name="password2" required type="password">
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form-field">
        <mat-label>Teléfono Celular</mat-label>
        <input matInput [(ngModel)]="usuario.telefono" name="telefono" placeholder="Ej: 987654321" autocomplete="tel">
      </mat-form-field>
      <mat-slide-toggle class="toggle-slider">Deseo Recibir Ofertas</mat-slide-toggle>
      <button mat-stroked-button color="primary" (click)="registrarUsuario()"
        class="boton-ingresar">Registrarse</button>
    </mat-card>

  </ion-card>

</ion-content>