<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="bus-outline"></ion-icon>panteraXpress<ion-icon name="bus-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center expand-card botones-home">
    <mat-card class="home-card">
      <mat-card class="resumen-detalles">
        <span><strong>Origen:</strong> {{ origen }}</span>
        <span><strong>Destino:</strong> {{ destino }}</span>
        <span><strong>Duración:</strong> {{ duracion }}</span>
        <span><strong>Precio unitario:</strong> {{ precio }}</span>
        <span><strong>Salida:</strong> {{ salida }}</span>
        <span><strong>N° Asiento(s):</strong> {{ asientosSeleccionados }}</span>
        <span><strong>Total a pagar:</strong> {{ totalPagar }}</span>
      </mat-card>
      <button mat-raised-button color="primary">Pagar</button>
    </mat-card>
  </ion-card>


</ion-content>
