<ion-app>
  <ion-menu side="start" contentId="menu-menu" menuID="main-menu" (ionWillOpen)="quitarFoco()"
    (ionWillClose)="quitarFoco()">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngIf="usuario">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          {{ usuario }}
        </ion-item>
        <ion-item button routerLink="/home" (click)="cerrarMenu()">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-item>
        <ion-item button routerLink="/indicaciones" (click)="cerrarMenu()">
          <ion-icon slot="start" name="checkbox-outline"></ion-icon>
          Indicaciones
        </ion-item>
        <ion-item button href="tel:999999999" (click)="cerrarMenu()">
          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
          Contáctanos
        </ion-item>
        <ion-item button routerLink="/reportar" (click)="cerrarMenu()">
          <ion-icon slot="start" name="warning-outline"></ion-icon>
          Reportar un problema
        </ion-item>
        <ion-item button routerLink="/otro" (click)="cerrarMenu()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Otro
        </ion-item>
        <ion-item button routerLink="/login" (click)="exitNow()">
          <ion-icon name="log-out-outline"></ion-icon>
          Desconectarse
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu-menu"></ion-router-outlet>
</ion-app>