<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>panteraXpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card class="home-card">
    <mat-card class="resumen-detalles resumen-detalles-center">
      <span><strong>Origen:</strong> {{ origen }}</span>
      <span><strong>Destino:</strong> {{ destino }}</span>
      <span><strong>Fecha:</strong> {{ fecha | formatearFecha }}</span>
      <span><strong>Salida:</strong> {{ salida }}</span>
    </mat-card>
    <h2 class="resultados-titulo">Selecciona tu asiento</h2>
    <div class="bus-grid">
      <div class="fila" *ngFor="let fila of filas">
        <button *ngFor="let asiento of fila.ladoIzq" class="asiento-btn"
          [class.selected]="asientosSeleccionados.includes(asiento)" [disabled]="!asientosDisponibles.includes(asiento)"
          (click)="seleccionarAsiento(asiento)">
          {{ asiento }}
        </button>
        <div class="espacio"></div>
        <button *ngFor="let asiento of fila.ladoDer" class="asiento-btn"
          [class.selected]="asientosSeleccionados.includes(asiento)" [disabled]="!asientosDisponibles.includes(asiento)"
          (click)="seleccionarAsiento(asiento)">
          {{ asiento }}
        </button>
      </div>
    </div>
    <div class="asiento-seleccionado" *ngIf="asientosSeleccionados.length > 0">
      Asientos seleccionados: <strong>{{ asientosSeleccionados.join(', ') }}</strong>
    </div>
    <div *ngIf="true" class="continuar-btn-container">
      <button mat-raised-button color="accent" class="continuar-btn"
        (click)="continuar()"
        [disabled]="asientosSeleccionados.length === 0">
        Continuar
      </button>
    </div>
  </mat-card>
</ion-content>
