<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/panteraxxx.png" class="pantera-banner" alt="Pantera" />
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="bus-outline"></ion-icon>panteraXpress<ion-icon name="bus-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #topRef>
  <!-- ION SEGMENT FLOTANTE -->
  <ion-segment class="vertical-segment compact-segment pantera-segment" [(ngModel)]="segmentoSeleccionado">
    <ion-segment-button value="tickets">
      <ion-icon name="bus-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="resumen">
      <ion-icon name="ticket-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="unknown2">
      <ion-icon name="map-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Botón flotante volver -->
  <div *ngIf="mostrarSelectorAsiento || mostrarResumen" class="vertical-button-back">
    <button class="boton-volver-flotante segment-button" (click)="retrocederFlujo()" title="Volver">
      <ion-icon name="play-back-circle-outline"></ion-icon>
    </button>
  </div>

  <div [ngSwitch]="segmentoSeleccionado">
    <ng-container *ngSwitchCase="'tickets'">
      <app-buscar *ngIf="!mostrarSelectorAsiento && !mostrarResumen"
        (continuarSeleccion)="onContinuarSeleccion($event)"></app-buscar>
      <app-asiento *ngIf="mostrarSelectorAsiento && !mostrarResumen" [origen]="datosSeleccionados?.origen"
        [destino]="datosSeleccionados?.destino" [fecha]="datosSeleccionados?.fecha"
        [salida]="datosSeleccionados?.salida" (continuarResumen)="onContinuarResumen($event)">
      </app-asiento>
      <app-resumen *ngIf="mostrarResumen" [origen]="datosResumen?.origen" [destino]="datosResumen?.destino"
        [duracion]="datosResumen?.duracion" [precio]="datosResumen?.precio" [salida]="datosResumen?.salida"
        [fecha]="datosResumen?.fecha" [asientosSeleccionados]="datosResumen?.asientos">
      </app-resumen>
    </ng-container>
    <ng-container *ngSwitchCase="'resumen'">
      <app-pasajes></app-pasajes>
    </ng-container>
    <ng-container *ngSwitchCase="'unknown2'">
      <app-principal *ngIf="segmentoSeleccionado === 'unknown2'"></app-principal>
    </ng-container>
  </div>

  <!-- Ejemplo en home.page.html -->
</ion-content>